<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leaderboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- bootstrap css library for pre-designed css features-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script> <!--bootstrap js library for pre-designed js features-->
 
</head>
<style>
    #top-cat-image {
        width: 5%;
    }

    .search-input-container {
        position: relative;
   
    }

    #search-input {
        font-size: larger;
        height: 70px;
        margin-top: 35%;
    }

    #search-image {
        position: absolute;
        width: 30%;
        margin-top: 35%;
        right: 10px;

    }

    .leaderboard-table {
        margin-top: 15%;
    }

    .table-headings {
        padding: 5px 5px 5px 5px;
    }

    #user-heading {
        width: 100px;
    }

    #score-heading {
        width: 120px;
    }

    #date-heading {
        width: 140px;
    }
    
</style>
<body>
    <div class="leaderboard-container d-flex justify-content-center align-items-center flex-column">
        <img src="/public/images/199-1993421_cat-icon-cute-cat-icon.png.jpeg" id="top-cat-image" class="rounded-circle" alt="jumping cat image">
        <h1>Leaderboards</h1>
        <div class="search-input-container">
            <input type="search" id="search-input" placeholder="Search a user" name="search-input">
            <img src="/public/images/641885.png" id="search-image" alt="cat search icon">
        </div>
        <div class="table-responsive">
            <table class="leaderboard-table table-bordered">
                <tr>
                    <th id="rank-heading" class="table-headings">Rank</th>
                    <th id="user-heading" class="table-headings">User</th>
                    <th id="score-heading" class="table-headings">Score</th>
                    <th id="date-heading" class="table-headings">Date Achieved</th>
                </tr>  
                <tbody id="data-body">
                    <% let rank = 1; %>
                    <% top10.forEach(user => { %>
                        <tr>
                            <td><%= rank++ %></td>
                            <td><%= user.username %></td>
                            <td><%= user.bestscore %></td> 
                            <td><%= user.date.toLocaleDateString() %></td> 
                    <% }); %>  
                </tbody>
            </table>
        </div>
    </div>
</body>
<!--<script>
    const leaderboardtablebody = document.getElementById('data-body');
    for (let i = 1; i <= 10; i++) {
      const tablerow = document.createElement('tr');
      tablerow.id = i;
      tablerow.innerHTML = `<td>${i}</td> <td></td> <td></td> <td></td>`;
      leaderboardtablebody.appendChild(tablerow);
    }
    </script>
</html>
