<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>leaderboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- bootstrap css library for pre-designed css features-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script> <!--bootstrap js library for pre-designed js features-->

</head>
<style>
    #top-cat-image {
        width: 5%;
    }

    #search-image {
        width: 14%;
    }
</style>
<body>
    <div class="leaderboard-container d-flex justify-content-center align-items-center flex-column">
        <img src="/public/images/199-1993421_cat-icon-cute-cat-icon.png.jpeg" id="top-cat-image" class="rounded-circle" alt="jumping cat image">
        <h1>Leaderboards</h1>
        <label for="search-input">
            <img src="/public/images/cat-search-icon.png" id="search-image" alt="cat search icon">
        </label>
        <input type="search" placeholder="Search a user" name="search-input">
    </div>

</body>
</html>
