<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>login</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- bootstrap css library for pre-designed css features-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script> <!--bootstrap js library for pre-designed js features-->
</head>
<body>
  <h1 class="text-center">Login to Your Account</h1>
  <form method="post">
  <div style="margin-top: 5%;" class="login-container d-flex justify-content-center align-items-center flex-column">
    <label for ="email">Email</label>
    <input type="email" name="email">
    <label for ="password">Password</label>
    <input type="password" name="password">
    <button style="margin-top: 2%;">Login</button>
  </div>
  </form>
</body>
</html>