<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CatGame</title><!-- named cat game since site main purpose is game -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- bootstrap css library for pre-designed css features-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script> <!--bootstrap js library for pre-designed js features-->
  <link href="frontend/main.css" rel="stylesheet"> 
  <script src="frontend/catgame.js"></script>
  

  <style> 
    body {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 18px;
    }

    .affix {
      top: 0;
      width: 100%;
      z-index: 99999;
    }

    .nav-container {
      display: flex;
      justify-content: center;
    }

    .header-container {
      min-height: 150px;
    }

    #logo {
      width: 6%;
    }
    
    .plane-container {
      border: 5px solid black;
      background-image: url("/public/images/background.png"); 
      background-size: cover;
      background-position: center;
      background-color: darkblue;
      width: 84%;
    } 

    #stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    z-index: 1;
    }

    #stars2 {
      position: absolute;
      top: 0;
      left: 35%;
      width: 30%;
      z-index: 1;
    }

    #stars3 {
      position: absolute;
      top: 0;
      right: 0;
      width: 30%;
      z-index: 1;
    }
    #mountains {
      max-height: auto;
      width: 100%; /* fit the container when resizing viewport*/
      object-fit: cover; /* keeping aspect ratio of image same and covering container, no position absolute with top bc aspect ratio would break*/
      z-index: 2;
    }

    #obstacle {
      position: absolute;
      bottom: 0;
      right: 5%;
      max-width: 7%; 
      z-index: 3;
      animation-name: obstacleleft;
      animation-duration: 4s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-play-state: paused;
    }

    @keyframes obstacleleft{
      0% {right: 5%;}
      25% {right: 25%;}
      50% {right: 45%;}
      75% {right: 65%;}
      85% {right: 84;}
      95% {right: 93%;}
    }

    @keyframes catjumping {
      0% {bottom: 0;}
      2% {bottom: 2%; content: url("/public/images/catjumping.png")}
      /*42% {bottom: 24%; content: url("/public/images/catjumping.png")}*/
      48% {bottom: 33%; content: url("/public/images/cat.png")}
      59% {bottom: 37%; content: url("/public/images/catfalling.png")}
      /*79% {bottom: 17%; content: url("/public/images/catfalling.png")}*/
      100% {bottom: 0; content: url("/public/images/cat.png")}
    }
    #cat-character {
      position: absolute;
      bottom: 0;
      left: 5%;
      max-width: 8%;
      z-index: 3;
      content: url("/public/images/cat.png");
    }

    .cat-animation {
      animation-name: catjumping;
      animation-duration: 1.8s;
      animation-timing-function: ease-in-out;
      animation-fill-mode: forwards;
    }

    #score {
      position: absolute;
      border-bottom: 4px solid red;
      top: 8.5%;
      right: 9%;
      color: red;
      z-index: 4;
    }

    #start-message {
      position: absolute;
      display: block;
      top: 40%;
      left: 27%;
      white-space: nowrap; /* Prevent text from going to next lines */
      font-size: 3.1vw; 
      color: greenyellow;
      z-index: 5; /*to make sure its on top of all other container elements*/
    }

    .below-plane-container {
      padding: 5 5 5 5;
      min-height: 25vh;
    }

    .footer-container {
      margin-top: 15vh;
    }

    .reviews-image {
      width: 20%;
      margin-left: 22%;
    }
  </style>
</head>
<body>
  <header> 
    <div class="header-container">  
      <div class="nav-container">
        <ul class="nav nav-pills justify-content-center align-items-center fixed-top">
            <img id="logo" src="/public/images/aebf0388cc0acfc1a87f4f7d955cd31c41b42a36_original.jpeg" alt="cat logo">
          <li class="nav-item">Catmuck.ltd</li>
          <li class="nav-item dropdown"> 
            <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" data-bs-toggle="dropdown">Dropdown</a>
            <ul class="dropdown-menu"> 
            <li class="dropdown-item"><a href="/leaderboard">Leaderboard</a></li>
            <li class="dropdown-item"><a href="#">Shop</a></li>
            </ul>
          </li>
          <li class="nav-item"><a class="nav-link active" href="Login">Login <!--&nbsp;&nbsp;&nbsp;&nbsp;|--></a></li>
          <li class="nav-item"><a class="nav-link active" href="Signup">Sign up</a></li>
          <li class="nav-item"><a class="nav-link active" href ="Aboutus">About us</a></li>
          <li class="nav-item"><a class="nav-link active" href ="Contactus">Contact us</a></li>
        </ul>
      </div>
    </div>
    
  </header>


  <section class="bg-light py-15"><!--padding for top & bottom-->
    <div class="section-container"><!--container for whole section-->
      <div class="jumbotron"><!--boostrap class for higlighting text by surrounnding it with a grey box-->
        <div class="above-plane-container text-center">
        <h1>Welcome to the Cat World!</h2>
        <p>Get ready to pounce into action and experience life as a cat like never before!<br> 
           Jump, dodge, and collect rewards in this purrfect adventure game. Don't make the cat<br> 
           wait any longer though, it is not as polite as one might think!</p>
        </div>
      </div>

    <div class="plane-container container d-flex align-items-center justify-content-center">
      <div class="row">
        <div class="col-lg-12 position-relative">
          <img src="/public/images/stars_2.gif" alt="Stars" id="stars">
          <img src="/public/images/stars_2.gif" alt="Stars" id="stars2">
          <img src="/public/images/stars_2.gif" alt="Stars" id="stars3">
          <img src="/public/images/mountains.png" alt="Mountains" id="mountains">
          <div id="cat-character" name="cat-character"></div>
          <img src="/public/images/dog.png" alt="Obstacle" id="obstacle"><!-- All obstacles in one image, alternating images -->
          <p id="score"></p>
          <p id="start-message" class="text-center">CLICK SPACE TO START</p>
          </div>
        </div>
      </div>
    </div>
    <div class="below-plane-container text-center">
      <h2>About the game</h2>
      Get ready for an adventure like no other with our purrfect feline hero!<br> 
      With its fluffy fur and determined spirit, this cute kitty is on a mission<br>
      to jump over obstacles and collect rewards like a true boss. But watch<br>
      out - the journey won't be easy. Our hero is up against two foes:<br> 
      a grumpy dog and a poisonous mushroom on the ground.<br> 
      To avoid getting into sticky situations, you'll need to show off your<br>
      awesome skills! Imagine you're the captain of this kitty's adventure<br>
      ship, guiding it through the obstacle-filled sea.<br>
      As you guide your furry friend on this wild ride, you'll notice<br>
      sparkling fish scattered all around. These aren't just any fish -<br>
      they're like shiny treasures waiting for you to grab! Catch those<br>
      fish and your cat will be over the moon. And guess what?<br> 
      This adventure is happening right in front of you, on your computer<br>
      or tablet. No need for a magic portal or a secret door.<br> 
      Just tap, click, or press and you're in the world of "Catventure"!<br> 
      So, get ready to jump, slide, and collect those fish while dodging<br>
      for your life. Let's go! 🚀🐾</p>
    </div>
    </div>
  </section>

  <footer>
    <div class="footer-container container-fluid text-center">
      <div class="row">
        <div class=col-lg-6 id="reviews1" class="review">
          <img src="/public/images/Screenshot 2023-08-27 at 13.42.42.png" class="img-fluid reviews-image rounded-circle float-start" alt="image of first reviewer">
          <p>"I am not usually a fan of jumping games,<br>
            but this one has me hooked. The graphics are beautiful,<br>
            and the background scenery is stunning. The cat is adorable,<br>
            and the obstacles are challenging but not too difficult.<br>
            Definitely worth a play."</p>
        </div>
  
        <div class="col-lg-6 review" id="reviews2">
          <img src="/public/images/Screenshot 2023-08-27 at 13.40.21.png" class="img-fluid reviews-image rounded-circle float-start" alt="image of second reviewer">
          <p>"This game is amazing! I love the cute cat character and the<br> 
            problematic gameplay. it's addictive and fun to play.<br>
            Highly recommend!"</p>
        </div>
      </div>
      <div class="row">  
        <div class="col-lg-6 review" id="reviews3">
          <img src="/public/images/Screenshot 2023-08-27 at 13.34.39.png" class="img-fluid reviews-image rounded-circle float-start" alt="image of third reviewer">
          <p>"Awesome game! As a seasoned gamer, I appreciate the challenge<br> 
            this game presents. Love the addition of the dog and mushroom<br>
            obstacles. Definitely going to come back."</p>
        </div>
  
        <div class="col-lg-6 review" id="reviews4">
          <img src="/public/images/Screenshot 2023-08-27 at 13.33.41.png" class="img-fluid reviews-image rounded-circle float-start" alt="image of last reviewer">
          <p>"I love the rewards system in this game. It's so satisfying to collect<br> 
            fish and see your score go up. The obstacles get more tricky as<br>
            you progress, I'm barely surviving."</p>
        </div>
      </div>      

    </div>
  </footer>
</body>
</html>



