<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>signup</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"> <!-- bootstrap css library for pre-designed css features-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script> <!--bootstrap js library for pre-designed js features-->
</head>
<style>
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }

  #signup-button {
    margin-top: 3%;
  }

  .message {
    margin-top: 3%;
  }
  
</style>
<body>
  <h1 class="text-center">Create an Account</h1>
  <form method="post">
    <div class="form-container">
      <label for="username">Username</label>
      <input type="search" name="username"> 
      <label for="email">Email</label>
      <input type="email" name="email">
      <label for="password">Password</label>
      <input type="password" name="password">
      <label for="confirmpassword">Confirm Password</label>
      <input type="password" name="confirmpassword"> 
      <button id="signup-button">Sign up</button>
      <% if (message) { %>
        <h4 class="message alert alert-danger"><%= message %></h4>
        <% } %>
    </div>
  </form>

</body>
</html>